<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n="Title for Registration Form"
        >Register</mat-card-title
      >
      <mat-card-subtitle i18n="Subtitle for Registration Form">
        To use our product, please register with the following
        details</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <form class="form">
        <div class="two-columns">
          <mat-form-field floatLabel="always" class="small-margin">
            <mat-label i18n="First Name Input Label">First Name</mat-label>
            <input
              matInput
              placeholder="John"
              i18n-placeholder="Placeholder for first name input"
            />
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-label i18n="Last Name Input Label">Last Name</mat-label>
            <input
              matInput
              placeholder="Smith"
              i18n-placeholder="Placeholder for Last name input"
            />
          </mat-form-field>
        </div>
        <mat-form-field floatLabel="always">
          <mat-label i18n="Email Input Label">Email</mat-label>
          <input type="email" matInput placeholder="email@xyz.com" />
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label i18n="Password Input Label">Password</mat-label>
          <input type="password" matInput placeholder="********" />
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label i18n="Confirm Password Input Label"
            >Confirm Password</mat-label
          >
          <input type="password" matInput placeholder="********" />
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label i18n="Date of Birth Input Label">Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label i18n="Gender Input Label">Gender</mat-label>
          <mat-select>
            <mat-option value="male" i18n="Male">Male</mat-option>
            <mat-option value="female" i18n="Female">Female</mat-option>
            <mat-option value="others" i18n="Other gender">Others</mat-option>
            <mat-option
              value="not_specified"
              i18n="Preferred not to say for Gender"
              >Prefer Not to Say</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" i18n="Submit button for form">
          Register
        </button>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <span i18n="Already registered message">Already registered?</span>
        <a routerLink="/login" i18n="Link to Login Page">Login </a>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
